/**
*	Designs for the cart
*
*/

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
div#cart-container input[type="email"],
div#cart-container input[type="number"],
div#cart-container input[type="search"],
div#cart-container input[type="text"],
div#cart-container input[type="tel"],
div#cart-container input[type="url"],
div#cart-container input[type="password"],
div#cart-container textarea,
div#cart-container select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  font-size: 1.45em;
  font-family: Poppins-Regular, sans-serif;
  letter-spacing: 0;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
div#cart-container input[type="email"],
div#cart-container input[type="number"],
div#cart-container input[type="search"],
div#cart-container input[type="text"],
div#cart-container input[type="tel"],
div#cart-container input[type="url"],
div#cart-container input[type="password"],
div#cart-container textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
div#cart-container textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
div#cart-container input[type="email"]:focus,
div#cart-container input[type="number"]:focus,
div#cart-container input[type="search"]:focus,
div#cart-container input[type="text"]:focus,
div#cart-container input[type="tel"]:focus,
div#cart-container input[type="url"]:focus,
div#cart-container input[type="password"]:focus,
div#cart-container textarea:focus,
div#cart-container select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
div#cart-container label,
div#cart-container legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
div#cart-container fieldset {
  padding: 0;
  border-width: 0; }
div#cart-container input[type="checkbox"],
div#cart-container input[type="radio"] {
  display: inline;
  width: unset; }
div#cart-container input[type="text"].readonly {
  font-style: italic;
  border: 1px solid #d1d1d147;
  color: gray; }
div#cart-container label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
div#cart-container select {
  font-size: 1.5em;
}
div#cart-container .quantity {
  font-size: 0.9em !important;
  width: 70px;
}

div#cart-container p.small {
  line-height: 12px;
}

div#cart-container p.small,
div#cart-container p.cold {
  font-size: 0.8em;
  font-style: italic;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
div#cart-container table {
  border-collapse: collapse;
  border-spacing: 0;
}

div#cart-container th,
div#cart-container td {
  padding: 5px 5px;
  vertical-align: middle;
  border-bottom: 1px solid #E1E1E1; }

div#cart-container td.no-border {
  border: none; }

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  div#cart-container table,
  div#cart-container thead,
  div#cart-container tbody,
  div#cart-container th,
  div#cart-container td,
  div#cart-container tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  div#cart-container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  div#cart-container td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  div#cart-container td > p { font-size: 0.7em; }
  div#cart-container td > p.cold { font-size: 0.7em; float: right; }
  div#cart-container td > div.clear { clear: both; }

  div#cart-container td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
.u-align-right {
  text-align: right; }
.u-align-left {
  text-align: left; }
.hide {
  display: none; }
.u-align-middle {
    vertical-align: middle; }
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
