

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6{
	color: #124a89;
}


.styled-icon-1:hover,
.styled-icon-2:hover,
.styled-icon-3,
.styled-icon-4:hover{
	background:#124a89;
}
.styled-icon-2:hover,
.styled-icon-4{
	border:2px solid #124a89;
}

.animsition-loading:after{
	color:#124a89;
}
.color-small{
	color:#124a89;
}
.orange-heavy{
	color:#124a89;
}
a.arrow-down:hover{
	border:2px solid #124a89;
}
.subtitle-written{
	color:#124a89;
}
.services-boxes-1 .icon-box{
	background:whitesmoke;
}
.services-boxes-1:hover .icon-box{
	color:#124a89;
}
.cd-timeline-img {
  background: #124a89;
}
.cd-timeline-content .cd-read-more {
  border:2px solid #124a89;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #124a89;
}
.cd-timeline-content .cd-date {
	color:#124a89;
}
.facts-box-1-num{
	color:#124a89;
}
.facts-box-2 h6{
	color:#124a89;
}
.cd-single-point > a {
  background: #124a89;
}
.ajax-project-info .ajax-info span{
	color:#124a89;
}
.ajax-link{
	color:#124a89;
}
.blog-box-1.link-post{
	background:#fbfbfb;
}
.blog-left-right-links .blog-left-link:hover {
	background:#124a89;
}
.blog-left-right-links .blog-right-link:hover {
	background:#124a89;
}
.color-write{
	color:#124a89;
}
.tooltip-inner-shop {
	background:#124a89;
}
.shop-box .shop-price span{
	color:#124a89;
}
.shop-box .mask-left-shop{
	background:#124a89;
}
.shop-box .mask-left-shop:hover{
	color:#124a89;
}
.shop-box .mask-right-shop{
	background:#124a89;
}
.shop-box .mask-right-shop:hover{
	color:#124a89;
}
.page-top-icon{
	color:#124a89;
}


.call-to-action-1 .button-1{
	border:2px solid #124a89;
}
.call-to-action-1 .button-1:hover{
	background: #124a89!important;
}
.call-to-action-1 .action-top-1{
	color:#124a89;
}
.call-to-action-2 .button-2{
	border:2px solid #124a89;
}
.call-to-action-2 .button-2:hover{
	background: #124a89;
}
.blockquotes-1 p span{
	color: #124a89;
}
.blockquotes-1 img{
	border:4px solid #124a89;
}
.cd-pricing-switcher .fieldset {
  background:#124a89;
}
.blockquotes-1  .arrow-right{
	border-top:7px solid #124a89;
}
.blockquotes-1  .company-name{
	color: #124a89;
}
.button-slider:hover{
	border:2px solid #124a89;
	background:#124a89;
}
.portfolio-box-2:hover h6{
	color: #124a89;
}
.services-boxes-2 .icon-box{
	color: #124a89;
}
.services-boxes-2:hover h6{
	color: #124a89;
}
.slider-text-color{
	color: #124a89;
}
.team-box-1 .team-box-1-text-in h4{
	color: #124a89;
}
.team-social li:hover.icon-team a {
	color: #124a89;
}
.list-social li.icon-soc a {
	color: #124a89;
}
.smk_accordion .accordion_in .acc_head:hover {
	background:#124a89;
}
.smk_accordion .accordion_in.acc_active > .acc_head {
	background:#124a89;
}
.blog-box-1 .blog-date-1{
	background:#124a89;
}
.blog-box-1 .blog-comm-1{
	background:#124a89;
}
.blog-box-1:hover .link{
	color:#124a89;
}
.blog-box-4:hover .link{
	color:#124a89;
}
.blog-box-4 h6{
	color:#124a89;
}
.team-box-1 .tooltip-shape svg {
	stroke: #124a89;
}
#filter li .current,
#filter li a:hover{
	color:#124a89;
}
#filter_user li .current,
#filter_user li a:hover{
    color:#124a89;
}
.footer-1 p a:hover{
	color: #124a89;
}
.icon-footer{
	color: #124a89;
}
.portfolio-box-2 .mask-left{
	background:#124a89;
}
.portfolio-box-2 .mask-right{
	background:#124a89;
}
.portfolio-box-2 .mask-left:hover {
	color:#124a89;
}
.portfolio-box-2 .mask-right:hover {
	color:#124a89;
}
.portfolio-box-3 .mask-left{
	background:#124a89;
}
.portfolio-box-3 .mask-right{
	background:#124a89;
}
.portfolio-box-3 .mask-left:hover {
	color:#124a89;
}
.portfolio-box-3 .mask-right:hover {
	color:#124a89;
}
.color-big{
	color:#124a89;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background:#124a89;
}
#owl-top-page-slider.owl-theme .owl-controls .owl-page.active span,
#owl-top-page-slider.owl-theme .owl-controls.clickable .owl-page:hover span{
	background:#124a89;
}
#carousel-team-3col.owl-theme .owl-controls .owl-page.active span,
#carousel-team-3col.owl-theme .owl-controls.clickable .owl-page:hover span{
	background:#124a89;
}
#carousel-team-4col.owl-theme .owl-controls .owl-page.active span,
#carousel-team-4col.owl-theme .owl-controls.clickable .owl-page:hover span{
	background:#124a89;
}
.fullscreen-title-home span{
	color:#124a89;
}
.button-map:hover {
	background:#124a89;
}
#button-con button:hover{
	border:2px solid #124a89;
	background: #124a89;
}
.cd-loader {
  background-color: #124a89;
}
.no-touch .btn:hover {
  background-color: #124a89;
}
.btn.salmon {
  background-color: #124a89;
}
.no-touch .btn.salmon:hover {
  color: #124a89;
}
.pro-bar {
	background: #6ba53a;
}

.services-boxes-2:hover .icon-box.full-icon-box{
	background:#124a89;
}

.csstransforms3d .social-top a:hover span::before,
.csstransforms3d .social-top a:focus span::before{
	color:#124a89;
}
.social-top a span {
	background:#124a89;
}
.content-style-overlay .menu-in-overlay li .cl-effect-11 a::before {
	color:#124a89;
}
.content-style-overlay .menu-in-overlay li p{
	color:#124a89;
}
.content-style-overlay .menu-in-overlay li p span{
	border-bottom:1px solid #124a89;
}
.cd-primary-nav .see-all a {
  /* different style for the See all button on mobile and tablet */
  color: #6ba53a;
}
.cd-overlay {
  background-color: #124a89;
}
@media only screen and (min-width: 1420px) {
  .cd-primary-nav > li > a:hover {
    color: #124a89;
  }
  .cd-primary-nav > li > a.selected {
    color: #124a89;
    box-shadow: inset 0 -2px 0 #124a89;
  }
  .cd-primary-nav .cd-secondary-nav > li > a {
    /* secondary nav title */
    color: #124a89;
  }
  .cd-primary-nav .cd-secondary-nav a:hover {
    color: #124a89;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item h5 {
    color: #124a89;
      text-align: center;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item h5 {
    color: #124a89;
      text-align: center;
  }
  .has-children > a:hover::before, .has-children > a:hover::after, .go-back a:hover::before, .go-back a:hover::after {
    background: #124a89;
  }
}




@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0.8);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0);
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(18, 74, 137, 0);
  }
}


@media only screen and (min-width: 768px) {
.no-touch .cd-select:hover {
    background-color: #124a89;
}
.no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
    background-color: #124a89;
}
  .cd-currency, .cd-duration {
    color: #124a89;
  }
  .cd-popular .cd-currency, .cd-popular .cd-duration {
    color: #124a89;
  }
  .cd-secondary-theme .cd-currency, .cd-secondary-theme .cd-duration {
    color: #124a89;
  }
  .cd-secondary-theme .cd-popular .cd-currency, .cd-secondary-theme .cd-popular .cd-duration {
    color: #124a89;
  }
}




.post-sidebar input:active,
.post-sidebar input:focus {
	background: #124a89;
}
.link-tag a:hover{
	background: #124a89;
	border-color:#124a89;
}
.link-recents a:hover{
	color: #124a89;
}



.blog-big-wrapper a:hover h5{
	color: #124a89;
}
.blog-big-wrapper .link-to-post{
	color: #124a89;
}
.blog-big-wrapper .big-post-date{
	background: #124a89;
}
p.text-border-left{
	border-left:3px solid #124a89;
}
.post-tags-categ p a:hover{
	color:#124a89;
}
.post-content-comment .reply:hover,
.post-content-com-top p span,
.list-social-share li:hover.icon-soc-share a{
	color: #124a89;
}
.leave-reply input:active,
.leave-reply input:focus,
.leave-reply textarea:active,
.leave-reply textarea:focus {
	background: #124a89;
}
.coming-soon span,
.blockquotes-box-1 p span,
.shop-item-details .price span,
button.post-comment{
	color:#124a89;
}
.shop-item-details .button-shop,
button.post-comment:hover{
	background: #124a89;
}
.button-shortcodes.version-1:hover {
	border:2px solid #124a89;
	background: #124a89;
}
.button-shortcodes.version-3 {
	background:#124a89;
}
.button-shortcodes.version-3:hover {
	box-shadow: 0 3px 0 #124a89;
}


#sync-sortcodes-8 .item:hover,
#sync-sortcodes-8 .synced .item,
#sync-sortcodes-6 .item:hover,
#sync-sortcodes-6 .synced .item,
#sync-sortcodes-4 .item:hover,
#sync-sortcodes-4 .synced .item,
#sync-sortcodes-2 .item:hover,
#sync-sortcodes-2 .synced .item {
	background:#124a89;
}
















